
Bot_Quiz/bin/Debug/PHPConfig.xml
.vs/DiscordBot/v15/Server/sqlite3/storage.ide-shm
.vs/DiscordBot/v15/Server/sqlite3/storage.ide-shm
.vs/DiscordBot/v15/Server/sqlite3/storage.ide-wal
.vs/DiscordBot/v15/Server/sqlite3/storage.ide-shm
Bot_Quiz/obj/Debug/Bot_Quiz.csprojResolveAssemblyReference.cache
*.cache
*.ide-wal
*.cache
*.cache
*.cache
